@font-face {
    font-family: 'montserratlight';
    src: url('assets/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('assets/montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'montserratregular';
    src: url('assets/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('assets/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'montserratbold';
    src: url('assets/montserrat/Montserrat-Bold.woff2') format('woff2'),
         url('assets/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'montserratmedium';
    src: url('assets/montserrat/Montserrat-Medium.woff2') format('woff2'),
         url('assets/montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.projectLink {
    color: white;
    text-decoration: underline !important;
    font-family: 'montserratlight';
}

.projectLink :hover {
    color: white;
    text-decoration: underline !important;
}


body {
    font-family: 'montserratregular';
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #ffffff;
    cursor:default;
    line-height: 1.5;
}

ul, li {
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    height: 100vh;
    min-width: auto;
}

h1 {
    margin: 0;
    font-family: 'montserratbold';
    line-height: initial;
}


h2, h3 {
    margin: 0;
    font-family: 'montserratmedium';
    line-height: initial;
}


p {
    margin-bottom: 0px;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

#navbarContainer {
    width: auto; 
    display: inline-flex;
}

#navbarContainerMobile {
    display: none;
}

#navbarContainer div {
    text-orientation: mixed;
    writing-mode: vertical-lr;
    width: 29px;
    line-height: 29px; 
    font-size: 140%;
    display: inline-flex;
}

#navbarContainer div span{
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    background-size: 100% 200%;
    transition: background-position 0.25s;
    color: rgb(0, 0, 0);
    transform: rotate(-180deg);
}

.selected {
    background-color: rgb(255, 255, 255);
}

.aboutMe {
    background: #4077ad;
    color: #4077ad;
}

.aboutMeSpan {
    background-image: linear-gradient(to top, #fff 50%, #4077ad 50%);
}

.hover {
    background-position: 0 100%; 
}

.experiences {
    background: #6ba7cf;
    color: #6ba7cf
}

.experienceSpan {
    background-image: linear-gradient(to top, #fff 50%, #6ba7cf 50%);
}

.projects {
    background: #ed6772;
    color: #ed6772;
}

.projectsSpan {
    background-image: linear-gradient(to top, #fff 50%, #ed6772 50%);
}

.clubs {
    background: #8ac8dc;
    color: #8ac8dc
}

.clubsSpan {
    background-image: linear-gradient(to top, #fff 50%, #8ac8dc 50%);
}

.divTitle {
    padding-right: 90px;
}

#aboutmephone {
    display: none;
}

#nameContainer {
    width: 30vw;
    height: 100vh;
    position: relative;
    justify-content: center;
    text-align: center;
}

#myName {
    font-size: 40px;
    font-family: 'montserratmedium';
    margin-bottom: 10px;
    line-height: initial;
}

#tagsUnderName {
    font-size: 15px;
}

a { 
    text-decoration: none;
    outline: none;
}

#namewrapper {
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:fit-content;
}

#socialmediadiv {
    position: absolute;
    left: 0;
    color: white;
    text-align: center;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
}

#socialmediadiv img{
    width:40px;
    height:40px;
    border:0; 
    position: relative; 
    display: inline-block; 
    margin-left: 5px; 
    margin-right: 5px;
    outline: none;
  }

@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    60% {
        -webkit-transform: translateY(-10px);
    }
}
@-moz-keyframes bounce {
    0%, 
    100% {
       -moz-transform: translateY(0);
    }
    60% {
       -moz-transform: translateY(-10px);
    }
}
@-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    60% {
       -o-transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-10px);
    }
}

#emailSNS:hover, #linkedinSNS:hover, #devpostSNS:hover, #githubSNS:hover, #instagramSNS:hover {
    animation: bounce 0.9s infinite; 
    -webkit-animation: bounce 0.9s infinite; 
    -moz-animation: bounce 0.9s infinite; 
    -o-animation: bounce 0.9s infinite;
}

.slides2 { 
    position: relative;
}

.slides2 > li {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}


#pagesContainer {
    padding: 0;
    width: 60vw;
    background: none;
    height: 100vh;
}

.pages {
    transition: 1s;
    color: white;
    padding: 0;
    display: none;
    overflow-y: auto;
    height: 50vh;
}

.frontpic {
    display: none;
}

#aboutmecontainer {
    padding: 2rem;
    font-size: 1rem;
}

#aboutMeTop {
    display: block;
    background: #ffffff;
}

#aboutMeBottom {
    background: #4077ad;
    white-space: normal;
    display: block;
    color: white;
    overflow-y: auto;
    
}


#experienceTop {
    background: #ed6772;
    display: block;
}

#experienceBottom {
    background: #6ba7cf;
    display: block;
}

#projectscontainer, #clubscontainer, #experienceContainer {
    padding: 2rem;
    height: fit-content;
}

#projectsTop {
    background: #ffffff;
    display: block;
}

#projectsBottom {
    background: #ed6772;
    display: block;
}

#clubsTop {
    background: #ed6772;
    display: block;
}


#clubsBottom {
    background: #8ac8dc;
    display: block;
}

.project, .club {
    height: fit-content;
    padding-right: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
}

.project {
    background: #ed6772;
}

.club {
    background: #8ac8dc;
}


.slides { 
    position: relative;
}

.slides > li {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slides > li >img { 
    width: 100%; 
}

.arrows {
    position: absolute;
    width: fit-content;
    right:0;
    text-align: center;
    margin: 10px;   
    z-index: 3;
}

.arrowresize {
    height: auto;
}

.leftarrow {
    display: inline-block;
    z-index: 3;
}

.rightarrow {
    display: inline-block;
    z-index: 3;
}

#projectcount {
    text-align: center;
}

@media screen and (max-width: 1024px) {
    body {
      overflow: hidden;
    }

    #flex-container {
        flex-wrap: wrap;
    }

    #navbarContainer, .navbutton, #nameContainer{
        display: none;
    }

    #navbarContainerMobile {
        display:block;
        flex-basis: 100vw;
        padding: 1rem 2rem;
        box-shadow: 5px 10px #888888;
    }

    .navMobile {
        display: inline-block;
        line-height: 40px;
        vertical-align: middle;
        margin-left: 1rem;
        text-decoration: none;
    }

    .logoNavMobile {
        width:40px;
        height:auto; 
        display: inline-block; 
        vertical-align: middle;
    }

    .navMobile:hover{
        text-decoration: underline;
    }

    .navMobileLinks {
        float: right;
    }

    #pagesContainer {
        flex-basis: 100vw;
        display: block;
    }

    #aboutMeNavMobile {
        color:#4077ad
    }

    #experiencesNavMobile {
        color:#6ba7cf
    }

    #projectsNavMobile {
        color:#ed6772
    }

    #clubsNavMobile {
        color:#8ac8dc
    }
    
    #aboutmephone {
        display: block;
        text-align: left;
        padding: 20px;
    }

    .pages {
        width: 100%;
    }

    .pagesTop {
        height: 40% !important;
    }

    .pagesBottom {
        height: 54% !important;
    }
  }

  @media screen and (max-width: 600px) {
    body {
      overflow: hidden;
    }

    #flex-container {
        flex-wrap: wrap;
    }

    #navbarContainer, .navbutton, #nameContainer{
        display: none;
    }

    #navbarContainerMobile {
        display:block;
        flex-basis: 100vw;
        padding: 1rem;
    }

    .navMobile {
        display: inline-block;
        line-height: 20px;
        vertical-align: middle;
        /* margin-left: 1rem; */
        text-decoration: none;
        font-size: 0.7rem;
    }

    #aboutMeContainer, #experienceContainer, #projectscontainer, #clubscontainer{
        padding-bottom: 4rem;
    }

    .logoNavMobile {
        width:20px;
        height:auto; 
    }

    .navMobile:hover{
        text-decoration: underline;
    }

    .navMobileLinks {
        float: right;
    }

    .topImage {
        background-size: 100vh !important;
    }

    .aboutMeImage {
        background-position: -310px!important;
    }
    
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.15rem;
    }
  }

  /* pre loading gif */
  .no-js #loader { display: none;  }
  .js #loader { display: block; position: absolute; left: 100px; top: 0; }
  .se-pre-con {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url(assets/logogif.gif) center no-repeat #ffffff;
      background-size: 15%;
  }