.about-me-page-container {
  /* background-color: #8774b5; */
  /* background-color: rgb(166, 160, 209); */
  background-color: #fcd99c;
  /* min-height: 120vh; */
  padding: 100px;
}

@media (max-width: 767px) {
  .about-me-page-container {
    padding: 50px;
  }
}
