.clubs-page-container {
  background-color: rgb(248, 185, 0);
  position: relative;
  height: fit-content;
  min-height: 90vh;
}

.clubs-body {
  padding: 150px;
}

.clubcards-contaner {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .clubs-body {
    padding: 50px;
  }
}
