.home-page{
display: flex;
flex-direction: column;
}

.home-graphic-container{
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: rgb(232, 179, 194);
}

.home-graphic{
    width: auto;
    max-height: 100vh;
    max-width: 100vw;
}

.about-me{
    background-color: rgb(197, 176, 232);
    min-height: 100vh;
    padding: 50px;
}