.projects-page-container {
  background-color: rgb(213, 213, 213);
  min-height: 90vh;
  position: relative;
  height: fit-content;
}

.projects-body {
  padding: 150px 100px;
}

.project-icon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project-icon {
  width: 275px;
  height: 275px;
  background-image: url(../assets/projects/project1.png);
  background-size: 100% 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 25px;
  gap: 20px;
}

.project-picture {
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .projects-body {
    padding: 100px 20px;
  }
  .project-icon {
    width: 300px;
    height: 300px;
  }
}
